name: URL Health Check
on:
  # schedule:
  # - cron: 0/5 0 * * * 
   
  workflow_dispatch:
    inputs:
      url:
        description: 'URL to check'
        required: false
        default: 'https://example.com/' # Default URL, change as needed
    
  workflow_call:
    inputs:
      url:
        required: false
        type: string

jobs:
  healthcheck:
    runs-on: ubuntu-latest
    permissions: 
      issues: write
      contents: write
      actions: write
      checks: write
      pull-requests: write
      statuses: write
 
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6

      - name: Set up Node.js
        uses: actions/setup-node@v6
        with:
          node-version: '16'

      - name: Install Dependencies
        run: | 
          npm install
          wget https://raw.githubusercontent.com/appatalks/GH-Action-URL-Health-Check/main/healthcheck.js

      - name: Check URL Health
        id: healthcheck
        run: |
          URL_TO_CHECK="${{ github.event.inputs.url }}"
          node healthcheck.js
        env:
          URL_TO_CHECK: ${{ github.event.inputs.url_to_check }}  

      - name: Debug Screenshot File
        if: always()
        run: |
          if [ -f screenshot.png ]; then
            echo "Screenshot file exists."
            ls -l screenshot.png
          else
            echo "Screenshot file does not exist."
          fi 

      - name: Upload screenshots
        uses: actions/upload-artifact@v5
        if: always()
        with:
            name: screenshot
            path: screenshot.png
